@media screen and (min-width: 600px) {
    :root {
        --size: 1.2
    }

    .job {
        --size: 2;
    }
}

@media screen and (max-width: 600px) {
    :root {
        --size: 0.8;
    }
}

.command,
.directory {
    cursor: pointer;
}

a {
    text-decoration: none;
}